*~
_build
*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
 *~
*.annot
*.mj
*.bak
*.swp
*.swo

*.jsx
*.lambda
*.rawlambda
*.s
*.o
*.lam
*.0.js
*#
*.log
.#*
*.cmj
*.rawlambda
*.lambda
*.zip